li.compleated-tasks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  min-height: 5vh;
  font-size: 2.5vh;
  font-style: italic;
  text-decoration: line-through;
  color: #cfcece;
  padding: 0.5rem 0.6rem 0.5rem 1rem;
  border: 1px solid #ccc;
  @media (orientation: landscape) {
    max-width: 30vw;
  }

  button.remove {
    opacity: 0;
    color: rgb(223, 78, 62);
    @media (max-width: 1023px) {
      opacity: 1;
    }
  }
  &:hover button.remove {
    opacity: 1;
  }

  button.undo {
    border: none;
    background: none;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    cursor: auto;
    color: #cfcece;
  }

  label.task-text {
    display: block;
    margin-left: 0.55vw;
    width: 100%;
    @media (max-width: 1023px) {
      margin-left: 2vw;
    }
  }
}
