.tasks {
  margin: 2rem auto;
  width: 90%;
}

.tasks ul {
  width: 100%;
  list-style: none;
}

@media (orientation: landscape) {
  .tasks {
    max-width: 30vw;
  }
  .tasks li {
    max-width: 30vw;
  }
}
