.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  width: 3vh;
  height: 3vh;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background: whitesmoke;
  color: #4d4d4d;
  cursor: pointer;
  transition: 0.25s;
}

.options {
  border-radius: 0%;
  background: white;
  border: none;
}

.button.done:hover,
.button.done:active {
  background: #b3eed1;
  border-color: #b3eed1;
}

.button.done:disabled,
.button.done:disabled:hover,
.button.done:disabled:active {
  /* border-color: #e6e6e6; */
  border: none;
  background: none;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  cursor: auto;
  color: #cfcece;
}

.button:focus {
  outline: none;
}

.button svg {
  width: 85%;
  height: 85%;
}
