.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  width: 3vh;
  height: 3vh;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background: whitesmoke;
  color: #4d4d4d;
  cursor: pointer;
  transition: 0.25s;
}

.button.done:hover,
.button.done:active {
  background: #b3eed1;
  border-color: #b3eed1;
}

.button.remove:hover,
.button.remove:active {
  background: #eeb3b3;
  border-color: #eeb3b3;
}

.button:focus {
  outline: none;
}

.button svg {
  width: 85%;
  height: 85%;
}
